
<h1>Welcome Admin!</h1>

<p>Here is a list of problems with the number of solutions for each:</p>
<table>
  <tr>
    <th>Title</th>
    <th>Solutions</th>
  </tr>
  <% if false %>  
  <% @problems.each do |problem| %>
    <tr>
      <td><%= link_to problem.title, problem %></td>
      <td><%= problem.solutions.count %></td>
    </tr>
  <% end %>
  <%end%>
</table>

<p>Click on the problem to see the solutions!</p>

<p>Would you like to create a new problem?
<%= link_to 'New Problem', new_problem_path %></p>

<p>Have a great day!</p>
