<h1>Welcom Admin!</h1>

<p>Here is a list of problems with the number of solutions for each:</p>

<p>Click on the problem to see the solutions!</p>

<p>Would you like to create a new problem? If so, here's a button for that. </p>
<%= link_to 'New Problem', new_problem_path %>

<p>Have a great day!</p>
