<h1>User Page</h1>
<p>
  This is the home page for the general user for the  
    <a href="http://outsmart.proteus-technologies.com">Proteus Technologies Outsmart Challenge Program</a>
    application.
    </p>
    <h2>Current Problem</h2>
      <%=link_to problem.title, @problems %>
    <h3>Enter Solution</h3>
