<h1>New solution</h1>

<%= render 'form' %>
<% if current_user.is_admin? %>
  <%= link_to 'Solutions Home', solutions_path %> | 
  <%= link_to 'Admin Home', admin_path %> | 
<% end %>
<%= link_to 'Home', root_path %>
